.location {
  margin: 20px 0;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }
}

.news-detail {
  background-color: #fff;
  margin: 24px 0;
  padding: 24px 24px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


  h1 {
    text-align: center;
    color: $gray-10;
  }

  .desc {
    color: $gray-7;
    margin: 12px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: 0 12px;
    }

    span {
      font-size: 1em;
      height: 1em;
      line-height: 1em;
    }

  }

  .dividing_line {
    background-color: $gray-3;
    height: .5px;
    margin-bottom: 30px;
  }

}